<p>{extend name="layout" /}
{block name="banner"}
</p><ol class="breadcrumb sider-margin">
    <li><a href="{:url('Index/index')}">网站首页</a></li>
    <li class="active">关于博客&nbsp;|&nbsp;关于我</li>
</ol><p>
{/block}
{block name="left"}
</p><div class="about-all">
    <h4>关于我</h4><div class="about">
        <p><strong>姓名</strong>：<span style="color: rgb(51, 51, 51);">肖义熙</span></p>
        <p><strong>网名</strong>：<span style="color: rgb(51, 51, 51);">YiXiXiao</span></p>
        <p><strong>说明</strong> ：<span style="color: rgb(51, 51, 51);">2012年上大学开始自学PHP，由于12年时大学老师基本不知道PHP，so放弃了转而学习JAVA，之后开始学习Android，实习开始真正的Android开发生涯。去年由于公司需要重新拾起PHP，并开始了PHP开发生涯，再然后就慢慢的学会操作Linux服务器，so有了这个blog...希望能坚持下去吧～</span></p>
        <p><strong>喜欢的话</strong>：<span style="color: rgb(51, 51, 51);">大学，大不了自学！这是我自己说的一句话，所以大学里我没有迷失自己，希望开始接触IT这个行业的小伙伴们要坚持下去，记住自学的东西永远都是自己的！</span></p>
    </div>
    <div class="about-love">
        <h4>关于程序</h4><hr>
        <p><strong>原由</strong>：<span style="color: rgb(51, 51, 51);">关于这个博客，很感谢loveteemo分享的代码，在他的基础上建立搭建的一个轻型blog，之后会慢慢的补充上一些我想要的功能。建立这个blog一个是为了记录自己学习的点点滴滴，同时也为了分享自己在开发过程中遇见的难题以及解答小伙伴们在开发过程中遇见的一些问题。希望会有人加入！之后会着手开发一个公众号，希望通过微信这个平台来帮助大家解决开发中遇见的问题。</span></p>
        <p><strong>域名</strong>：<span style="color: rgb(51, 51, 51);">blog.itdev.xin</span></p>
        <p><strong>创建时间</strong>：{$systeminfo.sys_createtime}</p><p><strong>语言</strong> ：PHP+MYSQL[utf-8]</p>
        <p><strong>声明</strong> ：<span style="color: rgb(51, 51, 51);">非本站提供下载包造成任何损失,与本人无关！</span></p></div><div class="about-version">
        {volist name="verlist" id="ver"}
        <p><b style="width: 40px;display: block;float: left;margin-right: 10px;">{$ver.ver_bate}</b><small>{$ver.ver_addtime}</small>  {$ver.ver_text}</p>
        {/volist}
    </div>
</div><p>
{/block}</p>